:host {
  width: 100%;
  margin-left: 10px;
}

.search-input {
  width: min(92%, 500px);
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 36px;
  padding-inline: 10px;
  mat-icon {
    color: gray;
    pointer-events: none;
  }

  input {
    outline: none;
    border: none;
    color: black;
    width: 100%;
  }

  input::placeholder {
    color: gray;
  }
}

// não sei pq não funciona :/
mat-icon::hover {
  cursor: pointer !important;
}
